@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=El+Messiri:regular,700&display=swap&subset=cyrillic-ext);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.news-main {
  padding: 140px 0px 100px 0px !important;
}

.news__title {
  max-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto 50px auto;
  padding: 20px 0px 0px 0px;
}
.news__title ._icon-leaf1,
.news__title ._icon-leaf2 {
  color: #018ABE;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__item {
  width: 416px;
  height: 258px;
  padding: 30px 35px;
  margin: 0px 24px 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(https://maevalar.github.io/RitmStyle/img/news/news-item-bg.png);
  border-radius: 12px;
  background-size: cover;
}
.news__item:nth-child(3) {
  margin-right: 0px;
}
.news__item:last-child {
  margin-right: 0px;
}
@media (max-width: 1312px) {
  .news__item:nth-child(2) {
    margin-right: 0px;
  }
  .news__item:nth-child(3) {
    margin-right: 24px;
  }
  .news__item:nth-child(4) {
    margin-right: 0px;
  }
}
@media (max-width: 991.98px) {
  .news__item {
    max-width: 350px;
  }
}
@media (max-width: 767.98px) {
  .news__item {
    max-width: 416px;
    margin: 0px 0px 24px 0px;
  }
  .news__item:nth-child(3) {
    margin-right: 0px;
  }
}

.news-item__text._title {
  font-size: 21px;
  text-align: left;
  color: #fff;
}

.new-format-main {
  padding: 140px 0px 100px 0px !important;
}

.new-format__title {
  max-width: 595px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto 50px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.new-format__title ._icon-leaf1,
.new-format__title ._icon-leaf2 {
  color: #018ABE;
}
@media (max-width: 479.98px) and (max-width: 479.98px) {
  .new-format__title ._title {
    font-size: 28px;
  }
}

.new-format__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .new-format__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.new-format__date {
  margin: 0px 0px 50px 0px;
}

.new-format-content__title {
  margin: 0px 0px 40px 0px;
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
@media (max-width: 767.98px) {
  .new-format-content__title {
    text-align: center;
  }
}

.new-format__text {
  max-width: 526px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 767.98px) {
  .new-format__text {
    text-align: center;
    margin: 0px 0px 80px 0px;
  }
}
@media (max-width: 479.98px) {
  .new-format__text {
    margin: 0px 0px 20px 0px;
  }
}

.new-format__image img {
  max-width: 100%;
  border-radius: 12px;
}

.blog-main {
  padding: 140px 0px 120px 0px !important;
}

.blog__title {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto 50px auto;
}
.blog__title ._icon-leaf1,
.blog__title ._icon-leaf2 {
  color: #018ABE;
}

.blog__item {
  margin: 0px 0px 45px 0px;
  padding: 50px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid 2px #018ABE;
  border-radius: 20px;
}
.blog__item:last-child {
  margin-bottom: 0px;
}
@media (max-width: 767.98px) {
  .blog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 479.98px) {
  .blog__item {
    padding: 20px 25px;
  }
}

.blog-item__image {
  -o-object-position: cover;
     object-position: cover;
}
@media (max-width: 767.98px) {
  .blog-item__image {
    padding: 0px 0px 50px 0px;
  }
}

.blog-item__image img {
  max-width: 100%;
  border-radius: 12px;
}

.blog-item__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 0px 50px;
}
@media (max-width: 767.98px) {
  .blog-item__content {
    margin-left: 0px;
  }
}

.blog-item__date {
  margin: 0px 0px 35px 0px;
}

.blog-item__title {
  margin: 0px 0px 30px 0px;
  font-family: "El Messiri";
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}

.blog-item__text {
  margin: 0px 0px 40px 0px;
  font-weight: 300;
  font-size: 16;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}

.blog-item__button {
  max-width: 134px;
  text-align: center;
}

@font-face {
  font-family: "ProximaNova";
  src: url("https://maevalar.github.io/RitmStyle/fonts/proximanova_regular.eot");
  src: local("☺"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_regular.woff") format("woff"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_regular.ttf") format("truetype"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("https://maevalar.github.io/RitmStyle/fonts/proximanova_light.eot");
  src: local("☺"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_light.woff") format("woff"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_light.ttf") format("truetype"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("https://maevalar.github.io/RitmStyle/fonts/proximanova_bold.eot");
  src: local("☺"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_bold.woff") format("woff"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_bold.ttf") format("truetype"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("https://maevalar.github.io/RitmStyle/fonts/proximanova_semibold.eot");
  src: local("☺"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_semibold.woff") format("woff"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_semibold.ttf") format("truetype"), url("https://maevalar.github.io/RitmStyle/fonts/proximanova_semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
.container {
  max-width: 1300px;
  margin: 0px auto;
}
@media (max-width: 1312px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

body {
  height: 100%;
  font-family: ProximaNova;
  background-color: #162831;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._undercut {
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
}
._undercut:hover {
  background-size: 100% 2px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
}

._header-undercut {
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

._footer-undercut {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
}

._btn {
  display: block;
  padding: 9px 15px;
  background-color: #018ABE;
  border-radius: 3px;
  width: 155px;
  height: 36px;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 767.98px) {
  ._btn:hover {
    background-color: #00597c;
  }
}

._title {
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
}
@media (max-width: 767.98px) {
  ._title {
    font-size: 38px;
  }
}

._item-hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 767.98px) {
  ._item-hover:hover {
    border-bottom: 5px solid #018ABE;
    -webkit-box-shadow: 5px 5px 10px #00597c;
            box-shadow: 5px 5px 10px #00597c;
  }
}

._date {
  max-width: 96px;
  background-color: #018ABE;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  padding: 6px 12px;
  text-align: center;
  color: #fff;
}

._anim-items {
  overflow: hidden;
}

._anim-show-left {
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._anim-show-left._active,
._active ._anim-show-left {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

._anim-show-right {
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._anim-show-right._active,
._active ._anim-show-right {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

._anim-show-bottom {
  -webkit-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._anim-show-bottom._active,
._active ._anim-show-bottom {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

._anim-scale {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
}

._anim-scale._active,
._active ._anim-scale {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #162831;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
.header__logo img {
  max-width: 100%;
}

.menu__burger {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin: 0px 0px 0px 50px;
}
@media (max-width: 991.98px) {
  .menu__list li {
    margin: 0px 0px 0px 30px;
  }
}
.menu__list li:first-child {
  margin-left: 0px;
}

.menu__link {
  padding: 10px 0px;
  color: #fff;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}

@media (max-width: 767.98px) {
  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu__burger span,
.menu__burger::before,
.menu__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__burger::before,
.menu__burger::after {
    content: "";
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 4;
    padding: 200px 0px 0px 70px;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__list li {
    margin: 0px 0px 70px 0px;
  }
  .menu__list li:last-child {
    margin-bottom: 0px;
  }
  .menu__link {
    font-size: 28px;
  }
  .header__button {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 140px 0px 0px 0px;
}

.preview {
  max-width: 1296px;
  padding: 140px 0px 230px 0px;
  background-image: url(https://maevalar.github.io/RitmStyle/img/main/preview/preview-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
@media (max-width: 479.98px) {
  .preview {
    padding: 140px 0px 130px 0px;
  }
}

.preview__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto 60px auto;
  max-width: 429px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}
@media (max-width: 479.98px) {
  .preview__subtitle {
    font-size: 18px;
    padding: 0px 10px;
  }
}

.preview__title {
  max-width: 587px;
  margin: 0px auto;
  font-size: 64px;
  line-height: 140%;
  text-align: center;
}
@media (max-width: 479.98px) {
  .preview__title {
    font-size: 48px;
  }
}

.sessions {
  padding: 150px 0px 0px 0px;
}

.sessions__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
  margin: 0px auto 100px auto;
}

.sessions-icon {
  color: #018ABE;
  font-size: 14px;
}

.sessions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1312px) {
  .sessions__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .sessions__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sessions-items__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sessions-items__block1 .sessions__item {
  height: 540px;
}

.sessions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(https://maevalar.github.io/RitmStyle/img/main/sessions/item-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 258px;
  padding: 0px 0px 50px 50px;
  border-radius: 10px;
  min-width: 416px;
  color: #fff;
}
@media (max-width: 991.98px) {
  .sessions__item {
    min-width: 366px;
  }
}
@media (max-width: 479.98px) {
  .sessions__item {
    min-width: 300px;
    padding: 0px 0px 20px 20px;
  }
}

.sessions-item__title {
  max-width: 336px;
  font-size: 24px;
  line-height: 140%;
}

.sessions-items__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1312px) {
  .sessions-items__block2 .sessions__item {
    margin: 0px 0px 0px 25px;
  }
}
@media (max-width: 991.98px) {
  .sessions-items__block2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sessions-items__block2 .sessions__item {
    margin: 25px 0px 0px 25px;
  }
  .sessions-items__block2 .sessions__item:first-child {
    margin-left: 0px;
  }
}
@media (max-width: 767.98px) {
  .sessions-items__block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sessions-items__block2 .sessions__item {
    margin: 25px 0px 0px 0px;
  }
}

.sessions-items__block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1312px) {
  .sessions-items__block3 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sessions-items__block3 .sessions__item {
    margin: 25px 0px 0px 25px;
  }
  .sessions-items__block3 .sessions__item:first-child {
    margin-left: 0px;
  }
}
@media (max-width: 767.98px) {
  .sessions-items__block3 {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sessions-items__block3 .sessions__item {
    margin: 25px 0px 0px 0px;
  }
}

.slider__title {
  padding: 150px 0px 120px 0px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
}
.slider__title ._icon-leaf1,
.slider__title ._icon-leaf2 {
  color: #018ABE;
}

.slide {
  max-height: 350px;
  overflow: auto;
  max-width: 636px;
  margin: 0px auto;
  padding: 55px 60px;
  background-color: #018ABE;
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .slide {
    padding: 30px 30px;
  }
}
@media (max-width: 479.98px) {
  .slide {
    padding: 10px 10px;
  }
}
@media (min-width: 767.98px) {
  .slide::-webkit-scrollbar {
    width: 7px;
  }
  .slide::-webkit-scrollbar-track {
    background-color: #204355;
  }
  .slide::-webkit-scrollbar-thumb {
    background-color: #00597c;
    border-radius: 10px;
  }
}

.slide__title {
  margin: 0px 0px 25px 0px;
  font-size: 20px;
  line-height: 140%;
}

.slide__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
}

.swiper-slide-active .slide {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-slide-prev .slide {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0.6;
  overflow: hidden;
}

.swiper-slide-next .slide {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0.6;
  overflow: hidden;
}

.swiper-pagination {
  position: relative;
  margin: 70px 0px 0px 0px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #fff;
  margin-left: 20px !important;
}
.swiper-pagination-bullet:first-child {
  margin-left: 0px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

.about {
  padding: 150px 0px;
}
@media (max-width: 767.98px) {
  .about {
    padding: 150px 0px 100px 0px;
  }
}
@media (max-width: 479.98px) {
  .about {
    padding: 150px 0px 0px 0px;
  }
}

.about__container {
  max-width: 1080px;
}

.about__title {
  max-width: 390px;
  margin: 0px auto 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__title ._icon-leaf1,
.about__title ._icon-leaf2 {
  color: #018ABE;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 100px 0px;
}
.about__item .about-item__image {
  margin: 0px 0px 0px 84px;
}
@media (max-width: 767.98px) {
  .about__item .about-item__image {
    margin: 0px 0px 0px 0px;
  }
}
.about__item:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 0px;
}
.about__item:last-child .about-item__image {
  margin: 0px 84px 0px 0px;
}
@media (max-width: 767.98px) {
  .about__item:last-child .about-item__image {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .about__item {
    margin: 0px 0px 50px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__item:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 479.98px) {
  .about__item {
    margin: 0px 0px 0px 0px;
  }
}

.about-item__content {
  max-width: 466px;
}
@media (max-width: 767.98px) {
  .about-item__content {
    margin-bottom: 50px;
  }
}

.about-item__title {
  padding: 0px 0px 35px 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
@media (max-width: 767.98px) {
  .about-item__title {
    text-align: center;
  }
}

.about-item__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 767.98px) {
  .about-item__text {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .about-item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
}

.about-item__image img {
  max-width: 100%;
  border-radius: 12px;
}

.price {
  padding: 0px 0px 155px 0px;
}

.price__container {
  max-width: 1080px;
}

.price__title {
  max-width: 520px;
  margin: 0px auto 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price__title ._icon-leaf1,
.price__title ._icon-leaf2 {
  color: #018ABE;
}

.price__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .price__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.price__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 479.98px) {
  .price__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
}

.price__list li {
  margin: 0px 0px 35px 0px;
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.price__list._active li:nth-child(1),
.price__money._active li:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.price__list._active li:nth-child(2),
.price__money._active li:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.price__list._active li:nth-child(3),
.price__money._active li:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.price__list._active li:nth-child(4),
.price__money._active li:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.price__list._active li:nth-child(5),
.price__money._active li:nth-child(5) {
  -webkit-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.price__list._active li,
.price__money._active li {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.price__link {
  padding: 0px 0px 10px 0px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#018ABE), to(#018ABE));
  background-image: linear-gradient(#018ABE, #018ABE);
  font-size: 18px;
  line-height: 140%;
}
.price__link::before {
  color: #018ABE;
  margin-right: 20px;
  font-size: 14px;
}
@media (max-width: 479.98px) {
  .price__link {
    font-size: 16px;
  }
}

.price__money li {
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "El Messiri";
  margin: 0px 0px 35px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}
@media (max-width: 767.98px) {
  .price__money li {
    margin: 0px 0px 35px 50px;
  }
}
@media (max-width: 479.98px) {
  .price__money li {
    font-size: 16px;
    margin: 0px 0px 55px 20px;
  }
}

.present__image {
  display: block;
  margin: 0px 0px 30px 0px;
}

.present__image img {
  border-radius: 12px;
  max-width: 100%;
}

.present__text {
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
}

.footer {
  padding: 60px 0px 30px 0px;
}

.footer__container {
  padding: 30px 0px 0px 0px;
}

.footer__content {
  font-size: 14px;
  line-height: 135%;
}
@media (max-width: 767.98px) {
  .footer__content {
    text-align: center;
  }
}